.weather-card {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  width: 49%;
  background-color: #bff0ea;
  border-radius: 15px;
  margin-bottom: 30px;
}

.dark-weather-card {
  background-color: #1b1a1a;
}

.weather-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location-name {
  font-size: 26px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

.temperature {
  font-size: 55px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1;
}

.date-and-time {
  display: flex;
  align-items: center;
}

.text {
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 15px;
}

.temperature-and-condition {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.temperature-and-date-time {
  display: flex;
  flex-direction: column;
}

.condition {
  font-size: 35px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  line-height: 1;
}

.description {
  font-size: 20px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 50px;
}

.additional-features {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  list-style-type: none;
  padding-left: 0px;
  flex-wrap: wrap;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #3b3b3b;
  padding: 5px 15px;
  border-radius: 15px;
  margin: 10px;
}

.detail-text {
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .weather-card {
    width: 100%;
  }
  .info-container {
    margin: 4px;
  }
  .detail-text {
    font-size: 14px;
  }
  .temperature {
    font-size: 40px;
  }
  .condition {
    font-size: 25px;
  }
  .date-and-time {
    flex-direction: column;
    align-items: flex-start;
  }
}
