.search-container {
  display: flex;
  align-items: center;
  min-width: 35%;
  padding: 8px 10px;
  border: 1px solid #565656;
  border-radius: 4px;
  margin-right: 50px;
  justify-content: space-between;
}

.search-input {
  border: none;
  width: 250px;
  outline: none;
  background: none;
  flex-shrink: 1;
}

.weather-btn {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
  padding: 0px;
}

@media screen and (max-width: 767px) {
  .search-container {
    min-width: 75%;
    margin-right: 25px;
  }
  .search-input {
    width: 80%;
  }
}
