.search-container {
  display: flex;
  align-items: center;
  background-color: #1c1b33;
  width: 280px;
  padding: 8px 10px;
  border-radius: 4px;
}

.search-input {
  border: none;
  width: 250px;
  color: #ebebf5;
  outline: none;
  background: none;
}

.weather-btn {
  border: none;
  background: none;
  display: flex;
  align-items: center;
}
